<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Estos son los miembros de mi familia: </h1>
    <ul>
    {% for member in family_members %}
        <p><h3 style="color: green;" >{{ member.name }}</h3></p>
        <p>Su edad es:  {{ member.age }} años</p>
        <p>Es mi:  {{ member.relationship }}</p>
    {% endfor %}
    </ul>
</body>
</html>