<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> <b></b>Estos son los miembros de mi familia:</b> </h1>
    <ul>
    {% for member in family_members %}
        <p> <b><h3 style="color: green;" >{{ member.name }}</h3> </b> </p>
        <p>Es mi: <b>  {{ member.relationship }} </b></p>
        <p>Su edad es de:  <b> {{ member.age }} </b>años</p>
       
    {% endfor %}
    </ul>
</body>
</html>